.u-responsive-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-flex-small-gap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.u-flex-medium-gap {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.u-center-div {
    margin: auto;
}

.u-margin-small-bottom {
    margin-bottom: 1rem;
}

.u-margin-medium-bottom {
    margin-bottom: 2rem;
}

.u-black-section {
    color: var(--white-color);
    background-color: var(--black-color);
}

.u-relative-section {
    position: relative;
    overflow-x: clip;
}

.u-text-align-left {
    text-align: left;
}

.u-bold {
    font-weight: 700;
}