#fudzi {
    right: 16%;
    top: 30%;
}

#new-york {
    top: 28%;
    left: 24%;
}

#hollywood {
    top: 30%;
    left: 11%;
}

#petra {
    top: 34%;
    right: 44%;
}

#egypt {
    top: 36%;
    right: 46%;
}

#opera {
    bottom: 15%;
    right: 12%;
}

#taj-mahal {
    top: 39%;
    right: 32%;
}

#eiffel {
    top: 21%;
    left: 45%;
}

#koloseum {
    top: 24%;
    left: 47%;
}